
.container {
  display: flex;
  margin: auto;
  gap: 60px;
  width: 2000px;
}
.content-1{
  max-width: 400px;
  justify-content:center;

}

.content-3{
  display: flex;
  gap: 30px;
}
.box {
  width: 300px;
}
.box-1{
  background-color: red;
}
.content-4{
  display: flex;
  gap: 50px;
}
.content-5{
  width: 500px;
}
.content-6{
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.stick {
  width: 200px;
  background-color: violet;
}
